*{
    box-sizing: border-box;
    margin: 0;
 
}
.contenedor-general{
  padding: 30px ;
  display: grid;
 
}
@media(min-width:600px){
    .contenedor-general{
        justify-items: center;
    }
}


.contenedor{
    max-width: 600px;
    display: grid;
    align-items: flex-start;
  
  }



 